button {
    border: none;
    outline: none;
    background: transparent;
}

.button-primary {
    background: #F1CDB3;
    padding: 15px 45px;
}
.button-secondary {
    border: 2px solid #F1CDB3;
    padding: 13px 43px;
}
.button-primary, .button-secondary {
    border-radius: 100px;
    transition: all .3s ease-in-out;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    cursor: pointer;
}
.button-primary:hover, .button-secondary:hover {
    background: #FDDCC4;
    transition: all .3s ease-in-out;
}
.button-secondary:hover {
    border: 2px solid #FDDCC4;
}


.button-icon {
    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: all .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.button-icon.left {
    transform: rotate(180deg);
}
.button-icon:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: all .3s ease-in-out;
}
.button-icon:active {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    transition: all .3s ease-in-out;
}